@charset "utf-8";


.filters {
	
}
	.filters .wrapper {
		padding: 5px 0px 20px 0px;
		margin:0 auto;
		width: 940px;
		overflow: hidden;
		position: relative;
		background:rgba(255,255,255,0.2);
	}
	.filters h5 {
		display: block;
		position: absolute;
		top:20px; left:40px;
		width:70px;
		height:500px;
		font: 14px/120% 'PT Sans', sans-serif;
		color:#ffffff;
		text-transform: uppercase;
		margin: -20px 0;
		padding:20px 40px 20px 0;
		border-right: 1px solid #1c1c1c;
		vertical-align: top;
	}
	.filters ul {
		display: inline-block;
		*display: inline;
		zoom:1;
		padding-left: 7px;
		list-style: none;
		vertical-align: top;
	}
	.filters li {
		display: inline-block;
		*display: inline;
		zoom:1;
		padding-left: 10px;
		vertical-align: top;
	}
	.filters li a,
	.filters li a:hover {
		font: 16px/120% 'Helvetica Neue Condensed', sans-serif;
		font-weight: normal;
		color: #313131;
		text-decoration: none;

		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}
	.filters li.selected a, .filters li.active a, .filters li.current a,
	.filters li a.selected, .filters li a.active, .filters li a.current{
		color: #000;
		font-weight: 600;
	}
	.filters li a:hover {color: #000;}

	.filters li+li:before {
		content: '/';
		padding-right: 10px;
		color: #dedede;
		
	}

