#serviceDesc {
    background: url(../../images/bg_service_w.png) repeat;
}
#serviceDesc .wrapper {
    width: 300px;
}
#serviceDesc h2 img {
	display: inline-block;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin:0 15px 0 0;
	background: none;
}
#serviceDesc .price {
    padding: 10px 0 5px;
    overflow: hidden;
}
#serviceDesc .price .button {
    float: right;
}
#serviceDesc .price span {
    font-weight: normal;
    margin-right: 4px;
}



/*Options form*/
	#serviceDesc form
	{
		clear: both;
	}


	#serviceDesc .options {
		clear: both;
		width: auto;
		margin: 0 auto 1em;
		border-left: 1px solid #E7E7E7;
		border-right: 1px solid #E7E7E7;
		
	}
		#serviceDesc .options td {
			padding: 10px;
			padding-bottom: 10px !important;
		}
		#serviceDesc .options label {
			width:auto;
			max-width: 140px;
		}
		#serviceDesc .options input {
			width:60px; 
			margin: 0;
			padding-right: 13px;

		}
		#serviceDesc .options select {
			width:88px; 
			margin: 0;
		}
