@charset "utf-8";


.careersWeAreHiringSubpage
{
}
.careersWeAreHiringSubpage .leftSide,
.careersWeAreHiringSubpage .rightSide {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.careersWeAreHiringSubpage .leftSide {
    margin-right: 17px;
    width: 670px;
}

.careersWeAreHiringSubpage .rightSide {
    padding-top: 110px;
    width: 225px;
}

.careersWeAreHiringSubpage .rightSideLast {
    display: inline-block;
    padding-top: 0;
    width: 225px;
}
.careersWeAreHiringSubpage ul.location {
    padding: 15px 0;
}
.careersWeAreHiringSubpage ul.location li {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    background: none;
    font-size: 16px;
}
.careersWeAreHiringSubpage ul.location li:before {
    width: 0;
    height: 0;
    display: none;
    background: none;
}
.careersWeAreHiringSubpage h2 {
    color: #000;
}
.careersWeAreHiringSubpage p {
    font-size: 16px;
}
.careersWeAreHiringSubpage hr.afterArticle {
    margin: 0 auto 25px;
}

.careersWeAreHiringSubpage .rightSide a,
.careersWeAreHiringSubpage .rightSideLast a {
    background: none repeat scroll 0 0 #003F77;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 41px;
    line-height: 41px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
    vertical-align: middle;
    width: 225px;
}
.careersWeAreHiringSubpage .rightSide a:hover,
.careersWeAreHiringSubpage .rightSideLast a:hover {
    background: #07355E;
}