.singUp {
	padding: 10px 0 ;

	background: #ffffff;
	position: relative;
}
	.singUp h3 {
		padding: 10px 0 15px;
		margin-bottom: 10px;
		border-bottom: 1px solid #e6e6e6;		
	}
	.singUp .row {
		padding: 10px 0;
		white-space: nowrap;
	}
		.singUp .row input,
		.singUp .row textarea{
			width: 170px;
			display: inline;
			margin: 0;
		}
		.singUp .row textarea {width: 203px;}
		.singUp .row label {
			width: auto;
			display: inline;
			vertical-align: middle;
			padding-left: 10px;
		}

	.singUp .label {
		position: absolute; top: -7px; right:-5px;
		width: 162px; height:101px;
		background: url(images/label.png) 0 0 no-repeat;
	}