@charset "utf-8";

.popupGallery
{
	background: url(images/bg_overlay.png);
}

.popupGallery .wall img
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /*bad*/

}

.popupGallery .wall img.current
{
	filter: none;
}