@charset "utf-8";

#subMenu {
    width:915px;
    margin: 20px auto;
    list-style: none;
    background: transparent;
    margin-bottom: 20px;
}
	#subMenu .wrapper {
        display: table;
        padding: 0;
        width: 100%;
        *text-align: left;        
	}

	#subMenu .wrapper a {
        background-color: #F4B21F;
        color: #FFFFFF;
        display: table-cell;
        font-size: 16px;
        height: 41px;
        padding: 0 5px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 18%;
        *width: 23%;
        *display: block;
        *float: left;
        *line-height: 40px;
	}
        #subMenu .wrapper a:hover,
        #subMenu .wrapper a:active,
        #subMenu .wrapper a.active {
            background-color: #d81e05;
        }
	
    #subMenu .wrapper .space {
        display: table-cell;
        width: 0.2%;
        *display: block;
        *float: left;
        *width: 3px;
        
    }
    @media \0screen {  
        #subMenu .wrapper a {
            width: 24%;
            display: table-cell;
        }
        #subMenu .wrapper .space {
            width: 1%;
            display: table-cell;            
        }
}