@charset "utf-8";

#requestButton {
    background: url(images/request_button.png) center top no-repeat;
    display: block;
    position: absolute;
    top:-2px; left:50%;
    margin-left: -250px;
    width: 500px;
    height: 64px;
    padding-top: 30px;
    z-index: 100;
    text-align: center;
}



#requestProposal {
    position: relative;
    padding-top:120px;
    background: url(images/yellow_pattern.png) top center repeat;
}
#requestProposal .shadow {
    position: absolute;
    top:0; left:0; right: 0;
    height:5px;
    background: url(images/shadow.png) left top repeat-x;
}

#requestProposal .wrapper {
    width: 100%;
    background: #272727;
}
#requestProposalContent {
    position: relative;
    width:580px;
    margin:0 auto;	
}
#requestProposal .formWrap {
    overflow: hidden;
    height: 0;
    position: relative;
    /*		-webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            -o-transition: height 0.5s;
            transition: height 0.5s;*/
}

#requestProposal form {
    position: relative;	
    margin-top:50px;	
}

#requestProposal label {
    width: 190px;
    color: white;
    text-transform: uppercase;
}
#requestProposal textarea {
    width: 550px;
}

#requestProposal .left {
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
    width:400px;
    padding: 60px 0 0;
    margin: 0 20px 70px;
    text-align: left;
}

#requestProposal .right {
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
    width:470px;
    padding: 60px 0 0;
    margin: 0 20px 70px;
    text-align: left;
}

#requestProposal .bottom {
    text-align: center;
}

#requestProposal .sendSuccess{
    display:block;
    margin-bottom: 5px;
}
#requestProposal .sendSuccess,
#requestProposal .message {
    text-align:center;
    color:#FFF;
    font-size:20px;
    font-family: 'Helvetica Neue Condensed Light';
}
#requestProposal .messages {
    margin-top: 20px;
    padding-bottom: 20px;
}




#requestProposal .ajaxStatus {
    padding: 20px 230px 20px 40px;
}

#requestProposal .message.error {
    margin-bottom: 5px;
}

#requestProposal .btn.request {
    width: 203px;
    height: 74px;
    background: url(images/contact-button.png);
    background-color: transparent;
    border: none;
    margin: 3px;
    padding: 21px 0px 19px 0px;
    color: #1a1a1a;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

#requestProposal .btn.request:hover {
    background-position: 0px -75px;
}

#requestProposal .btn.request:active {
    background-position: 0px -150px;
}
