@charset "utf-8";

.submenu {
    background: url(/images/bkg_footer.png) 0 0 repeat;
}
.submenu ul {
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    list-style: none outside none;
    padding: 0;
}
.submenu ul li {
    float: left;
    border-right: 1px solid #1c1c1c;
}
.submenu a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    height: 4.214em; /*59*/
    line-height: 4.214em; /*59*/
    margin-right: 0;
    padding-left: 52px;
    padding-right: 54px;
    text-decoration: none;
}
.submenu a:active, .submenu a:hover,
.submenu li.active a, .submenu li a.active {
    color: #ff003c;
}