@charset "utf-8";


.services
{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.services .service
{
    position: relative;
    display: block;
    margin: 0;
    padding: 12px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.services .service > div {
    width: 300px;
}

.services article
{
    background: none;
    float: left;
}

.services .title
{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 200px;
}

.services img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.services .description
{
    margin: 3px 0 10px;
    padding: 0;
    width: 160px;
}

.services .buy
{
    text-align: right;
    float: right;
    width: 139px;
    margin-top: 4px;
    overflow: hidden;
}

.services .price
{
    margin-right: 4px;
    font-weight: normal;
}

.services .buy .button
{
    width: 106px;
}

/*Service pack*/

.services .pack .buy .button
{
    width: 81px;
    padding-right: 35px;
    background-image: url(images/info_collapsed.png);
    background-position: 102px center;
    background-repeat: no-repeat;
    /* background-image: url("data:image/png;base64,");
     *background-image: url("images/info_collapsed.png");*/
}

.services .pack .buy .button.expanded
{
    background-image: url(images/info_expanded.png);
    /* background-image: url("data:image/png;base64,");
     *background-image: url("images/info_expanded.png");*/
}


/*Options form*/
	.services form
	{
		clear: both;
	}

	.services .options {
		clear: both;
		width: auto;
		margin: 0 auto;
		border-left: 1px solid #E7E7E7;
		border-right: 1px solid #E7E7E7;
		
	}
		.services .options td {
			padding: 10px;
			padding-bottom: 10px !important;
		}
		.services .options label {
			width:auto;
			max-width: 140px;
		}
		.services .options input {
			width:60px; 
			margin: 0;
			padding-right: 13px;

		}
		.services .options select {
			width:88px; 
			margin: 0;
		}


.services .details
{
    display: none;
    overflow: hidden;
    position: relative;
    margin: 0 -10px;
    padding: 0;
    width: auto;
    clear: both;
}

.services .arrow_block {
    display: block;
    width: 40px;
    height: 41px;
    background: url(images/bg_btn_gray_arrow.png) no-repeat top;
    float: right;
}
.services .arrow_block:active,
.services .arrow_block.pushed {
    background: url(images/bg_btn_green_arrow.png) no-repeat top;
}

.services table {
    border: none;
}
.services table td {
    background: #ebebeb;
    padding: 10px 10px 10px 18px;
}
.services table tr:nth-child(even) td {
    background: #f5f5f5;
}
.services table a.button{
    clear: both;
    float: right;
    margin-top: 10px;
}
.services table .title{
    margin-top: 5px;
}




