@charset "utf-8";



/* Header
-----------------------------------------------------------------------------*/
#header {
    padding-bottom: 51px;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#header h1 {
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 25px;
}
/*logo*/
#logo {
    display: block;
    float: left;
    font-size: 24px;
    font-weight: normal;
    height: 73px;
    position: relative;
    width: 223px;
	margin-left: 5px;
}

#logo img {
    position: absolute;
    left:0;
    bottom:0;
    height: 73px;
    width: auto;
    border: none;
}

#sitedescription {
    position: absolute;
    top: 49px;
    left: 258px;
    right: 0;
    border-left: 1px solid #999999;
    padding: 0 0 0 18px;
    white-space: nowrap	
}



#header .merrychristmas {display: none;}


/* Page 404 and No Script
-----------------------------------------------------------------------------*/

.page404 #header .bg,
.noscript #header .bg
{
    display: none;
}

.page404 #logo,
.noscript #logo
{
    padding-top: 8px;
    margin-top: -8px;
    background: url(images/404.png) 182px top no-repeat;
}

.page404 #logo .anim2,
.noscript #logo .anim2 { 
    background-image: url(images/logo-anim2-404.png); 
}



/* Christmas styles. Search another parts in code by #christmas
-----------------------------------------------------------------------------*/

.christmas #header {
	background: url(images/garland.png) right -10px no-repeat;
	padding-top: 28px;
}
.christmas #sitedescription {
	top:54px;
}

.christmas #header .merrychristmas {
	display: block;
	position: absolute;
	bottom:0; right:0;
	width:229px; height:119px;
	background: url(images/merry.png) right bottom no-repeat;
}