#applyResellers {
	margin: 10px;
	padding: 10px;
	background: #fff;
	border:none;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	position:relative;
	font-size:13px;
}
	#applyResellers .label {
		width:98px; height:70px;
		position:absolute; top:-4px; right:-5px;
		background: url(images/label.png);
	}

	#applyResellers p {
		padding-top: 10px;
	}
	#applyResellers p.first {
		padding-top: 0;
		padding-right:50px;
	}

@media 	only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) { 
	#applyResellers .label {
		width:98px; height:70px;
		position:absolute; top:-4px; right:-5px;
		background: url(images/label@2x.png);
		background-size: 100% 100%;
	}
}