@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {

    .slider .slide_01{padding-top:5px;}

} 

* + html .slide_01 {
    padding-top:5px;
}

@media \0screen {
  .slider .slide_01 {padding-top:5px;}
}
.slide_01{
    background:url(images/slide_01bg.png) no-repeat;
    
}

.slider .slide_01 ul{
    list-style:none;
    padding:0;
    margin:0;
    margin-top:50px;
}

.slider ul li{
    display:inline-block;
    background-image: url(images/slide_01_shadow.png);
    background-repeat:no-repeat;
    background-position: center 94px;	
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width:210px;
}

.slider ul li p{
    margin-top:25px;
/*    font-family:"Myriad Pro", Arial, Helvetica, sans-serif;*/
    font-size: 15px;
    font-weight: bold;
}

.slider ul li p a{
    font-size:17px;
    text-decoration:underline;
}

.slider h2{
    color:#7c9a0b;
    text-align: center;
    display: block;
    padding-top: 35px;
}

.slider .description, .slider .description h4 {
    text-align: justify;
    font-weight: normal;
}