@charset "utf-8";



/* OLD-BROWSER
-----------------------------------------------------------------------------*/
#oldBrowser
{
	text-align: center;
    width: 300px;
    margin: 0 auto;
}
#oldBrowser h2
{
	text-align: center;
}