@charset "utf-8";

.share h4{
    margin-bottom: 17px;
}
.socials {
    background-color: #ededed;
    padding: 18px 17px 5px 17px;
}
.socials .linkedin, .socials .facebook, .socials .twitter, .socials .google_plus, .socials .pin_it{
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin-right: 10px;
    height: 26px;
    margin-bottom: 0.5em;
    *width: 150px;
}
