@charset "utf-8";

/* Basket table
-----------------------------------------------------------------------------*/
/*.basket-empty
{
	display: none;
}*/

.basket-table
{
	width:940px;
	margin:40px 0 20px 0px;
	display: block;
}

.basket-table input[type="submit"]
{
    padding: 12px 20px;
    font-size: 16px;
    text-transform: none;
    border: 3px solid #e2e2e2;
    box-shadow: none;
}

.basket-table h1
{
	margin-left: 30px;
	margin-bottom:20px;
}

.basket-table form {
    background: none;
    margin: 0;
    padding: 0;
	margin-bottom: 27px;
	position: relative;
}

.basket-table .btn_remove {
	background-color: #f7e9e9;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	line-height: 36px;
	text-align: center;
	color: #f12e2e;
	font-family: Verdana;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.orderDetails {
	padding-bottom:4px;
    overflow: hidden;
}

.orderHeader {
    
}

.orderHeader .servicePrice,
.orderItem .servicePrice,
.orderHeader .serviceLink,
.orderItem .serviceLink
{
    width: 185px;
    padding-left: 20px;
	line-height: 40px;
    text-align:left;
}

.orderItem .removeItem {
    padding: 0 20px 0 40px;
}

.orderFooter .serviceSubtotal{
	padding: 0 20px;
    text-align:left;
}

.orderHeader .serviceTotal,
.orderItem .serviceTotal,
.orderFooter .serviceTotal{
	line-height: 40px;
    padding-left: 0px;
    width:100px;
	display:table-cell;
	text-align:center;
}

.orderFooter .serviceTotal{
	text-align: left;
}

.orderHeader .serviceLink,
.orderItem .serviceLink{
	width:350px;
}

	.orderItem .serviceLink input{
		width:250px;
		background-color:#f0f0f0;
	}


.orderHeader .serviceTitle {
    padding: 10px 0 10px 20px;
    width:700px;
    text-align:left;
    line-height: 40px;
    font-size: 30px;
}

.orderHeader:first-child {
    border-bottom: 1px solid #769199;
}

.orderHeader .serviceName,
.orderItem .serviceName,
.orderFooter .servicePromo{
    padding: 10px 0 10px 20px;
    width:700px;
	/*display: inline-block;*/
	text-align:left;
    line-height: 40px;
}

.orderFooter input {
    margin: 0 10px;
}

.orderFooter .servicePromo {
    line-height: 40px;
}

.orderHeader,
.orderFooter{
    font-family: 'Helvetica Neue Condensed Light', Arial, sans-serif;
    font-weight: bold;
    background:#729d9c;
	padding:15px 30px;
	color:#FFF;
	font-size:20px;
    overflow: hidden;
}
	
.orderItem{
	border-top:1px solid #f2f2f2;
	background-color:#FAFAFA;
	padding:8px 30px;
}

.orderItem:nth-child(odd){
	background-color:#FFF;
}
	
	.orderItem .serviceTotal{
		font-weight:bold;
		/*font-size:16px;*/
	}
	
	.orderItem .remove{
        right: 10px;
		*margin-left: 0px;
        vertical-align: middle;
		background: url(images/bg_remove.png) top no-repeat;
	}
	
	.orderItem .remove:hover{
		background-position:bottom;
	}

.orderBrief{
	margin-top:8px;
	padding:15px 0;
	width:750px;
}

	.orderBrief textarea{
		margin:25px 0;
		width:725px;
		height:165px;
		border:1px solid #ededed;
		background-color:#FFF;
	}
	
	.orderBrief input{
		padding:5px 0;
		background:none;
		font-size:14px;
		margin:10px 0;
	}
	
.orderFooter .servicePromo{
	text-transform:none; 
	width:630px;
    border-right: 1px solid #728c94;
}

.orderFooter .servicePromo label{
	padding:0;
	margin:5px 10px 0 10px;
	height:30px;
	width:280px;
    *margin-top: -5px;
}

.orderFooter .servicePromo input::-ms-clear {
    display: none;
}

.orderFooter .servicePromo input{
	width:260px;
    height: 30px;
    font-size: 13px;
    
    *padding-top: 7px;
    *height: 23px;
    
    /*IE8*/
    line-height: 30px \0/;
}

/*Buttons*/
.buttons
{
    float: left;
    margin: 20px -40px 100px 0;
    width: 360px;
	text-align: right;
}

.basket-table .buttons button{
	float: left;
    margin-left:20px;
}


/*Common questions*/
.basket-table .questions
{
	float: left;
    position: relative;
    margin: 26px 35px 100px 0;
    width: 545px;
    border: 1px solid #c9c9c9;
    border-radius: 23px;
    font-family: 'Helvetica Neue LT Com', Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #4a4a4a;
    cursor: pointer;
}

.basket-table .questions .title
{
    display: block;
    padding: 0 25px;
    height: 46px;
    line-height: 46px;
}

.basket-table .questions .title p
{
    float: left;
}

.basket-table .questions .control
{
	display: block;
    float: right;
    padding: 0;
    height: 46px;
    width: 50px;
}

.basket-table #control-image {
    margin-top: 18px;
    float: right;
    display: block;
    width: 16px;
    height: 11px;
    background: url(images/common-questions-control.png) no-repeat;
}

.basket-table #control-image.opened
{
    background-position: 0px -12px;
}

.basket-table #control-image.closed
{
    background-position: 0px 0px;
}

.basket-table #question-list
{
	position: relative;
    overflow: hidden;
    padding: 0 25px 0px 25px;
}

.basket-table #question-list.opened
{
    height: auto;
    margin-bottom: 20px;
    opacity: 1;

    -webkit-transition: opacity .2s linear;  				
    -moz-transition: opacity .2s linear;  	 				
    -o-transition: opacity .2s linear;  					
    -transition: opacity .2s linear;  	
}

.basket-table #question-list.closed
{
    height: 0;
    opacity: 0;

    -webkit-transition: opacity .2s linear;  				
    -moz-transition: opacity .2s linear;  	 				
    -o-transition: opacity .2s linear;  					
    -transition: opacity .2s linear;
}

.removeAttachment{
	margin-top:10px;
	font-style:italic;
	background:#EBEBEB;
	padding:5px;
	width:50%;
	overflow:hidden;
}

.removeAttachment a{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:16px;
	height:16px;
	background:url(/images/ico_remove_attach.png) left no-repeat;
}

.basket-table .btn {
    padding: 12px 20px;
}

.basket-table .btn.orange {
    padding: 12px 40px;
}