@charset "utf-8";


.departmentMobileProcess {
	margin: 0 0 35px;

}

.departmentMobileProcess ul li {
    list-style: none;
    margin-left: -40px;
    padding-bottom: 10px;
    padding-left: 21px;
    background: url("images/bg_li.png") left 6px no-repeat;
}


.departmentMobileProcess .leftSide {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
    width: 585px;
}

.departmentMobileProcess .rightSide {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}


.departmentMobileProcess h2 {
    color: #000000;
    font-size: 24px;
    margin: 20px 0;
}
.departmentMobileProcess .processSubMenu {
    display: table;
    width: 100%;
}

.departmentMobileProcess .processSubMenu .space,
.clientsSlider .navigation .space {
    background: url("images/arrow.png") no-repeat scroll center 45% transparent;
    display: table-cell;
    width: 4%;
    *width:30px;
    *height: 80px;
    *display: inline;
    *vertical-align: top;
}

.departmentMobileProcess .wrapper a {
    border: 3px solid white;
    color: #003f77;
    display: table-cell;
    font-size: 16px;
    height: 80px;
    line-height: 65px;
    padding: 0 5px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 0%;
}
.departmentMobileProcess .wrapper a span {
    margin: 5px auto 0;
}

.departmentMobileProcess .wrapper a:hover,
.departmentMobileProcess .wrapper .active {
    border: 3px solid #e6e6e6;
}

/* Icons
----------------------------------*/
ul.solutionsList {
	list-style: none;
	padding: 0;
}
ul.solutionsList li:first-child {
	margin: 25px 0 20px;
}
ul.solutionsList li {
	margin: 20px 0;
	padding: 0;
}

.departmentMobileProcess ol li:before {
    top: 0;
}
.departmentMobileProcess .icon {
    /*background: url("images/processIcons.png") no-repeat scroll left top transparent;*/
    display: block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 85px;
    height: 67px;
}


.departmentMobileProcess .icon1  {background-position: 0 -67px;}    
.departmentMobileProcess .icon2  {background-position: 0 -134px;}
.departmentMobileProcess .icon3  {background-position: 0 -201px;}
.departmentMobileProcess .icon4  {background-position: 0 -268px;}




.departmentMobileProcess .solutionsItem {
    display: inline-block;
    padding-left: 14px;
    padding-top: 10px;
    vertical-align: top;
    width: 350px;
}

.departmentMobileProcess .solutionsItem p {
    font-size: 16px;
    line-height: 22px;
}


.departmentMobileProcess .solutionsItem h3 {
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
    text-align: left;
}

/* SLIDERS */

.clientsSlider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
    width: 916px;
}
.clientsSlider .container {
    width: 2000em;
    position: relative;
    overflow: hidden;
    left:0;
    top: 0;
    background: #F4F4F4;
    
    -webkit-transition: left 0.7s;
    -moz-transition: left 0.7s;
    -o-transition: left 0.7s;
    transition: left 0.7s;
}
.clientsSlider article {
    padding: 5px 25px 25px;
}

.clientsSlider .slide {
    position: relative;
    float: left;
    width: 915px;
    /*margin-right: 150px;*/
/*  min-height: 307px;*/
}

.clientsSlider .button, .clientsSlider .link {margin: 0 0 1em;}
.clientsSlider .button {
    float: right;
}
.clientsSlider .slide .image {
    /*font:19*/
    height: 15.631em; /*297*/
    display: inline-block;
    *display: inline; zoom: 1;
    width: 285px;
    margin-left: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.clientsSlider .slide .image div{
    bottom: -1px;
    position: absolute;
    width: 100%;
    left: 0;
}

.clientsSlider .description {
    width: 916px;
    overflow: hidden;
    position: relative;
}

.clientsSlider .navigation {
    /*font:19*/
/*    position: absolute;
    top: 0;
    width: 1000em;
    height: 120px;
    background: #ffffff;
    overflow: hidden;
    left: 0;*/
    display: table;
    width: 100%;
}
.clientsSlider .navigation a {
    /*font:19*/
/*    display: block;
    float: left;
    width: 229px;
    text-align: center;
    height: 120px; 
    line-height: 120px;
    position: relative;*/
    border: 3px solid white;
    color: #003F77;
    display: table-cell;
    font-size: 16px;
    line-height: 15px;
    padding: 0 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 13%;
    *width: 265px;
    *height: 80px;
    *display: inline-block;
    *vertical-align: top;
    *margin-right: 34px;
}


.clientsSlider .navigation a:hover img.color, .clientsSlider .navigation a.active img.color {
    visibility: visible;
}
.clientsSlider .scrollable {
    position: relative;
    margin-bottom: 16px;
}

.clientsSlider .scroller {
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 916px;
}
.clientsSlider .items div {
    display: table;
    width: 100%;
}

.clientsSlider .scrollable .prev,.clientsSlider  .scrollable .next{
    position: absolute;
    display: block;
    top: 36px;
    width: 41px;
    height: 41px;
    cursor: pointer;
}
.clientsSlider .scrollable .prev{left:-60px;}
.clientsSlider .scrollable .next{right:-60px;}

.clientsSlider .scrollable .prev{
    background: url(images/pic_prev_next.png) no-repeat 0 -41px;
}
.clientsSlider .scrollable .next{
    background: url(images/pic_prev_next.png) no-repeat -41px -41px;
}
.clientsSlider .scrollable .prev:hover {background-position: 0 0px; text-decoration: none;}
.clientsSlider .scrollable .next:hover {background-position: -41px 0px; text-decoration: none;}

.clientsSlider .scrollable .prev.disabled {
    background-position: 0 -41px;
    cursor: default;
}
.clientsSlider .scrollable .next.disabled {
    background-position: -41px -41px;
    cursor: default;
}