@charset "utf-8";

#subMenu {
    width:915px;
    margin: 40px auto 30px;
    list-style: none;
    background: transparent;
}
	#subMenu .wrapper {
        display: table;
        padding: 0;
        width: 100%;
	}

	#subMenu .wrapper a {
        background-color: #F4B21F;
        color: #FFFFFF;
        display: table-cell;
        font-size: 13px;
        height: 41px;
        padding: 0 5px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 12%;
        *display: inline-block;
        *padding: 9px 8px 0;
        *height: 30px;
        *width: 162px;
        *vertical-align: top;
        *margin-right: 5px;
	}
        #subMenu .wrapper a:hover,
        #subMenu .wrapper a:active,
        #subMenu .wrapper a.active {
            background-color: #d81e05;
        }

    #subMenu .wrapper .space {
        display: table-cell;
        width: 0.2%;
        *display: inline;
    }
    @media \0screen {  
        #subMenu .wrapper a {
            width: 19%;
            display: table-cell;
        }
        #subMenu .wrapper .space {
            width: 1%;
            display: table-cell;            
        }
    }