@charset "utf-8";

/* searchForm
-----------------------------------------------------------------------------*/
.searchForm {
    margin-bottom: 20px;
}
.searchForm h4 {
    margin-bottom: 17px;
	text-transform: none;
	font-weight: normal;
	font-size: 16px;
}
.searchForm form {
	position: relative;
}
.searchForm .searchLabel {
    width: 200px;
    color: red;
    position: absolute;
    top: -25px;
    left: 12px;
}
.searchForm input[type="search"] {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E3E3E3;
    display: block;
    font-size: 14px;
    height: 1.64em;
    line-height: 1.25em;
    margin: 0 0 22px;
    padding: 0.25em 10px 0.313em;
    text-align: left;
    width: 210px;
}
.searchForm input[type="submit"] {
	background: url(images/search.gif) no-repeat top center;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
}
.searchForm .button_tag:hover,
.searchForm .button_tag.active {
	background: #003f77;
	border: 1px solid #003f77;
	color: #FFF;
}
