@charset "utf-8";


.filters {
    background: url(images/bg_filters.png) 0 0 repeat;
}
	.filters ul {
		list-style: none;
		vertical-align: top;
		padding: 10px 0;
	}
	.filters li {
		display: inline-block;
		*display: inline;
		zoom:1;
		font-size: 14px;
		line-height: normal;
		padding: 7px 0 6px;
		vertical-align: top;
	}
	.filters a, 
	.filters a:link, 
	.filters a:visited {
		background: none repeat scroll 0 0 #353D48;
		color: #FFFFFF;
		cursor: pointer;
		padding: 5px 10px;
	}
		.filters a:hover {
	    background: none repeat scroll 0 0 #575f6a;
	    -moz-transition: all 0.3s;
	}
		.filters a:active,
		.filters a.active {
	    background: none repeat scroll 0 0 #013461;
	    -moz-transition: all 0.3s;
	}
	
	
.subFilters {
    background: #202a35;

}
	.subFilters .tab{
		padding: 10px 0px;
		list-style: none;
	}

	.subFilters li {
		font-size: 11px;
		padding: 8px 0;
		*margin-right: 2px;
		display: inline-block;
		*display: inline; 
		zoom: 1;
		vertical-align:top;
		line-height: normal;
	}

.subFilters a, 
.subFilters a:link, 
.subFilters a:visited {
    background: none repeat scroll 0 0 #353D48;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
}
	.subFilters a:hover, 
	.subFilters a:active,
	.subFilters a.active {
	    background: none repeat scroll 0 0 #013461;
	    -moz-transition: all 0.3s;
	}

.tab_content{
	padding: 10px 0;
	position: relative;
	height: 30px;
}
.tab_content .tab{
	padding: 0px;
	display: none;
}
