@charset "utf-8";


.filters {
    background: url(/images/bkg_footer.png) 0 0 repeat;
}
	.filters .wrapper {
		padding: 20px 40px;
		margin:0 auto;
		width: 920px;
		border-left: 1px solid #1c1c1c;
		border-right: 1px solid #1c1c1c;
		overflow: hidden;
		position: relative;
	}
	.filters h5 {
		display: block;
		position: absolute;
		top:20px; left:40px;
		width:70px;
		height:500px;
		font: 14px/120% 'PT Sans', sans-serif;
		color:#ffffff;
		text-transform: uppercase;
		margin: -20px 0;
		padding:20px 40px 20px 0;
		border-right: 1px solid #1c1c1c;
		vertical-align: top;
	}
	.filters ul {
		display: inline-block;
		*display: inline;
		zoom:1;
		padding-left: 0;
		list-style: none;
		vertical-align: top;
	}
	.filters li {
		display: inline-block;
		*display: inline;
		zoom:1;
		padding-left: 5px;
		vertical-align: top;
	}
	.filters li a,
	.filters li a:hover {
		font: 14px/120% 'PT Sans', sans-serif;
		color: #ffffff;
		text-decoration: none;

		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}
	.filters li.selected a, .filters li.active a, .filters li.current a,
	.filters li a.selected, .filters li a.active, .filters li a.current{
		color: #ff003c;
	}
	.filters li a:hover {color: #ff003c;}

	.filters li+li:before {
		content: '/';
		padding-right: 5px;
		color:#303030;
		
	}

