@charset "utf-8";

.searchResult > ul
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.searchResult > ul > li
{
	display: block;
	border: 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	padding: 0;
	background: #fff;
}

.searchResult > ul > .service
{
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}

.searchResult > ul > li .more
{
	text-transform: uppercase;
}

.searchResult .meta {
    font-size: 12px;
    line-height: 20px;
	color: #a3a3a3;
	margin-bottom: 1em;
}


.searchResult .highlight
{
	background-color: #dee6c2;
	 padding: 3px 0;
}

.stupidHeaderWithBottomLine
{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e3e3e3;
}
