@charset "utf-8";


.page404 article {
    padding-bottom: 50px;
}
.block404
{
    background: transparent;
	text-align: center;
    color: #fff;
}

.block404 h1
{
	color: #fff;
    text-align: center;
}

.block404 p {margin-bottom: 25px;}


