@charset "utf-8";


.specification {
    background-color: #f0f0f0;
	overflow: hidden;
	padding: 30px 0;
}
.specification .description {
	float: left;
	width: 290px;
}
.specification .description ul li {
	margin-bottom: 10px;
}
.specification .description hr {
	margin-bottom: 33px;
	border-bottom: 1px solid #ffffff;
}
.specification .description p{
	margin: 20px 0 10px;
}
