#contactUs {
	padding: 10px 10px 4px;
	background: #ffffff;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
    margin: 12px 10px 20px;
}
#contactUs h2 {
    margin: 0 -10px;
    padding: 3px 30px 11px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}
#contactUs .row {
    padding: 5px 0 4px;
}
#contactUs .row.submit {
    padding: 10px 0 4px;
}
    #contactUs .row input,
    #contactUs .row textarea{
        width: 158px;
        display: inline;
        margin: 0;
    }
    #contactUs .row textarea {width: 190px;}
    #contactUs .row label {
        display: inline-block;
        vertical-align: top;
        width: 75px;
    }

#contactUs button, #contactUs input.button {
    display: block;
    width: 100%;
}